<% title(t('user.profile', default: 'Edit Profile')) %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'off' %>
    <i class="hint">
      (<%= t('.leave_blank_if_you_don_t_want_to_change_it',
             default: "leave blank if you don't want to change it") %>)
    </i>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'off' %>
  </div>

  <div class="actions">
    <%= f.submit t('user.update', default: 'Update') %>
  </div>
<% end %>