<article class="calendar_grid calendar">
  <header>
    <h2>
      <span class="calendar__range" data-toggle=".calendar__range__picker">
        <%= l(schedule.month_date, format: :month_and_year) %>
      </span>
    </h2>
    <%= render partial: 'calendar/secondary_nav', locals: { schedule: schedule } %>
    <%= render partial: 'calendar/primary_nav', locals: { schedule: schedule } %>
  </header>
  <table class="calendar__grid" colspan="0" rowspan="0">
    <thead>
      <tr class="days_of_week">
        <% schedule.day_names.each do |day| %>
          <th><%= day %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% schedule.range.to_a.in_groups_of(7).each do |week| %>
        <tr class="week">
          <% week.each do |date| %>
            <%= content_tag :td, data: { date: date.strftime('%Y-%m-%d'), ldate: l(date) },
                            class: calendar_date_classes(date, schedule.month_date) do %>
              <div class="day"><%= calendar_pretty_day(date) %></div>
              <ul class="events">
                <%= render partial: 'calendar/event',
                           collection: schedule.events_on(date),
                           locals: { date: date },
                           as: :event %>
              </ul>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>
