<article class="calendar">
  <header>
    <h2>
      <%= schedule.month_date.strftime('%B %Y') %>
    </h2>
    <nav>
      <%= calendar_nav(schedule) %>
    </nav>
  </header>
  <table class="calendar__grid" colspan="0" rowspan="0">
    <thead>
      <tr class="days_of_week">
        <% schedule.day_names.each do |day| %>
          <th><%= day %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% schedule.range.to_a.in_groups_of(7).each do |week| %>
        <tr class="week">
          <% week.each do |date| %>
            <%= content_tag :td, class: calendar_date_classes(date, schedule.month_date) do %>
              <div class="day"><%= calendar_pretty_day(date) %></div>
              <ul class="events">
                <% schedule.events_on(date).each do |event| %>
                  <li><%= event.title %></li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>
