<%= form_for(@event) do |f| %>
  <div class="wrap">
    <div class="line_field">
      <%= f.text_field :title, placeholder: t('event.new.title'), autofocus: true %>
    </div>
    <div class="line_field date_field">
      <%= f.text_field :date_str, placeholder: l(Date.today) %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit @event.new_record? ? t('event.actions.create') : t('event.actions.update') %>

    <%= event_actions_cancel_link %>
  </div>
<% end %>
