<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="icon" href="/favicon.png" type="image/x-icon"/>
  <title>
    <%= "#{@page_title} / " if @page_title.present? %>
    <%= t('site.title') %>
  </title>
  <%= stylesheet_link_tag "application", media: "screen" %>
  <%= stylesheet_link_tag "print", media: "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="header">
    <h1><%= link_to t('site.title'), '/' %></h1>
    <%= render 'shared/global_nav' if user_signed_in? %>
  </header>
  <div id="page">
    <div class="contents">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
